//Categorias
.categories{
	box-shadow: 16px 3px 52px rgba(42,34,64,0.1113);
	font-weight:500;
	ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		@media #{$mobile-extra, $mobile, $small}{
			flex-direction: column;
		}
		
		
		li:first-child {
			box-shadow: 24px -4px 33px rgba(42,34,64,0.0300);
			text-align:center;
			padding: 20px;
			a{
				color:$colorHoverText;
			}
		}
		li{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100px;
			width: calc(100% / 5);
			a{
				color:$colorText;
				&:hover{
					color:#5e6569;
				}
			}	
		}
	}
}

//Eventos da semana

.events-Week{
	margin:64px 0;
	h3{
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		color:$colorBlur;
		margin-top: 16px;
	}
	p{
		font-size: 16px;
		color:#A8B2B9;
	}
	a.buttonBase{
		margin: 32px auto 90px auto;
		background-color: $colorBase;
	}
}
.card-group{
	.card{
		box-shadow: 4px 0px 42px rgba(42, 34, 64, 0.1413);
		margin-bottom: 26px;
		&:hover{
			box-shadow:4px 0px 43px rgba(42,34,64,0.2313);
		}
		.card-body{
			padding: 16px;
			.card-title{
				font-weight: 600;
				font-size: 20px;
				margin: 0;
			}
			p{
				margin:0;
				font-weight: 500;
				font-size: 12px;
				color: #346FF1;
			}
			hr{
				margin:16px 0;
				border-top: 1px solid #F7F7F7;
			}
			p.card-text{
				font-weight: normal;
				font-size: 16px;
				color: $colorText;

			}
			.card-more{
				display: flex;
				justify-content: space-between;
				align-items: center;	
				.btn{
					font-weight: bold;
					font-size: 14px;
					color: #6B6B6B;
					margin:0;
					i{
						margin-right: 8px;
					}
				}
				a.btn:hover{
					color:#484848;
				}
			}
		}	
	}
}
.btn i{
	margin-right: 8px;
}
.about{
	h1{
	    font-size: 30px;
	}
	p{
		font-size: 16px;
		margin: 16px auto;
	}
}
#contato{
	margin-top: 64px;
	margin-bottom: 32px;
	h3{
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		color:$colorBlur;
		margin-top: 16px;
	}
	p{
		font-size: 16px;
		color:#A8B2B9;
	}
	hr{
		margin-bottom: 60px;
	}
	.box-contato-form{
		@media #{$mobile-extra, $mobile, $small}{
			order: 1;
		}
		
		.form-group{			
			textarea#formMenssagem{
				padding: 16px;
			}
		}
	}
	.box-contato{
		.info-contato{
		    margin-left: 80px;
		    margin-top: 18px;
		    @media #{$mobile-extra, $mobile, $small}{
				margin-left: 0px;
			}
		    .icons{
		    	a{
				margin-right: 16px;
				font-size: 40px;
				}
				#icon-facebook{
					color: #3B5998;
				}
				#icon-behance{
					color: #0B7EFF;
				}
				#icon-github{
					color: #56297C;
				}
				#icon-linkedin{
					color: #007AB5;
				}
		    }
		    .info{
		    	margin-top: 40px;
		    	color:$colorBlur;
		    	font-weight: normal;
		    	@media #{$mobile-extra, $mobile, $small}{
					margin-top: 24px;
    				margin-bottom: 40px;
				}

		    	.infos{
		    		display: flex;
		    		align-items: center;
		    		i{
		    			color:$colorBlur;
		    			margin: 16px 16px 0 0;
		    			font-size: 40px;
		    		}
		    		p{
		    			margin:0;
		    		}
		    	}
		    }
		    .fa-smile-o{
		    	margin-top: 24px;
				font-size: 100px;
				color:#F9BA48;
				@media #{$mobile-extra, $mobile, $small}{
					display: none;
				}
		    }
		}
	}
	
}