.viewMore{
	.event-info{
		display: flex;
		justify-content: space-between;
    	align-items: center;
    	margin-top: 64px;
    	a{
    		font-size: 35px;
    		color: $colorBlur;
    	}
	}
	.card{
		img{
			width: 100%;
			height: 400px;
		}
	}
}